
@font-face {
  font-family: 'PxGrotesk';
  src: url('/fonts/PxGrotesk-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PxGrotesk-light';
  src: url('/fonts/PxGrotesk-Light.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PxGrotesk';
  src: url('/fonts/PxGrotesk-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PxGrotesk-screen';
  src: url('/fonts/PxGrotesk-Screen.otf');
  font-weight: normal;
  font-style: normal;
}
