@import '~styles/Variables';

header.header {
  z-index: $header-index;
  position: fixed;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $header-height;
  transition: opacity 0s $cubic-ease-out;

  @include mobile {
    padding: 0 30px;
    height: $header-mobile-height;
  }

  img {
    width: 90px;
  }

  .navigation {
    margin-right: -20px;

    span {
      a {
        padding: 20px;
        font-family: 'PxGrotesk-light';
        font-size: 12px;
        text-transform: uppercase;
        transition: color 0.3s $quad-ease-out;

        &:hover {
          color: $gray;
        }
      }

      &.active a {
        color: $blue;
      }
    }
  }
}
