@import './reset.css';
@import '~styles/Variables';

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'PxGrotesk';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.progress {
  cursor: progress;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &.no-scroll {
    overflow: hidden;
    -webkit-overflow-scrolling: auto;
  }
}

.app {
  width: 100%;
  height: 100%;
}

.pages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page {
  z-index: 1;
  position: absolute;
  padding-top: $header-height;
  width: 100%;
  min-height: 100%;

  > .container {
    position: relative;
    margin: 0 auto;
    padding: 0 $page-padding;
    max-width: $site-max-width;
    height: 100%;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: $black;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
  outline: none;
}
